{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
  <div class="pcoded-main-container" xmlns="http://www.w3.org/1999/html">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
                <!-- Customer overview start -->
              <div class="card table-card">
                        <div class="card-header d-flex justify-content-between">
                          <h3><span class="badge text-c-blue">My Tasks List</span></h3>
                          <a href="{% url "manager:task-create" %}" class="btn btn-primary border-0 fs-3 fw-bold rounded-1"><i class="feather icon-plus"></i></a>
                        </div>
                        <div class="card-body p-0">

                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="table">
                                        <div class="customer-scroll" style="height:500px;position:relative;">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr class="text-center">
                                                        <th><h5><span class="badge bg-c-blue">Name</span></h5></th>
                                                        <th><h5><span class="badge bg-c-blue">Created</span></h5></th>
                                                        <th><h5><span class="badge bg-c-blue">Deadline</span></h5></th>
                                                        <th><h5><span class="badge bg-c-blue">Tags</span></h5></th>
                                                        <th><h5><span class="badge bg-c-blue">Status</span></h5></th>
                                                        <th><h5><span class="badge bg-c-blue">Options</span></h5></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for task in tasks %}
                                                    <tr class="text-center">
                                                      <td class="fs-5 fw-bold rounded-1">{{ task.content }}</td>
                                                      <td class="fs-5 fw-bold rounded-1">{{ task.datetime }}</td>
                                                      <td class="fs-5 fw-bold rounded-1">{{ task.deadline }}</td>
                                                      <td class="fs-5 fw-bold rounded-1 text-c-blue">{% for tag in task.tags.all %}{{ tag }}{% if not forloop.last %} | {% endif %}{% endfor %}</td>
                                                      {% if task.is_done %}
                                                      	<td class="fs-6 fw-bold rounded-1"><span class="text-white fs-6 fw-bold rounded-1 bg-success p-1">Completed</span></td>
                                                        {% else %}
                                                        <td class="fs-6 fw-bold rounded-1"><span class="text-white fs-6 fw-bold rounded-1 bg-danger p-1">In process</span></td>
                                                      {% endif %}
                                                      <td>
                                                        <form method="post" action="{% url "manager:toggle-task-status" pk=task.id %}">
                                                            {% csrf_token %}
                                                            {% if task.is_done %}
                                                              <button type="submit" class="btn btn-secondary fs-5 fw-bold rounded-1">
                                                                <i class="feather icon-repeat"></i>
                                                              </button>
                                                            {% else %}
                                                              <button type="submit" class="btn btn-success border-0 fs-5 fw-bold rounded-1">
                                                                <i class="feather icon-check"></i>
                                                              </button>
                                                            {% endif %}
                                                        </form>
                                                        <a href="{% url "manager:task-update" pk=task.id %}" class="btn btn-warning border-0 fs-5 fw-bold rounded-1"><i class="feather icon-edit"></i></a>
                                                        <a href="{% url "manager:task-delete" pk=task.id %}" class="btn btn-danger border-0 fs-5 fw-bold rounded-1"><i class="feather icon-delete"></i></a>
                                                      </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>

    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
