{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
  <div class="pcoded-main-container" xmlns="http://www.w3.org/1999/html">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
                <!-- Customer overview start -->
              <div class="card table-card">
                        <div class="card-header d-flex justify-content-between">
                          <h3><span class="badge text-c-blue">Tags</span></h3>
                          <a href="{% url "manager:tag-create" %}" class="btn btn-primary border-0 fs-3 fw-bold rounded-1"><i class="feather icon-plus"></i></a>
                        </div>
                        <div class="card-body p-0">

                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="table">
                                        <div class="customer-scroll" style="height:500px;position:relative;">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr class="text-center">
                                                        <th><h5><span class="badge bg-c-blue">Name</span></h5></th>
                                                        <th><h5><span class="badge bg-c-blue">Options</span></h5></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  {% for tag in tags %}
                                                    <tr class="text-center">
                                                      <td class="fs-5 fw-bold rounded-1 text-c-blue">#{{ tag }}</td>
                                                      <td>
                                                        <a href="{% url "manager:tag-update" pk=tag.id %}" class="btn btn-warning border-0 fs-5 fw-bold rounded-1"><i class="feather icon-edit"></i></a>
                                                        <a href="{% url "manager:tag-delete" pk=tag.id %}" class="btn btn-danger border-0 fs-5 fw-bold rounded-1"><i class="feather icon-delete"></i></a>
                                                      </td>
                                                    </tr>
                                                  {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>

    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
