
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-blue">


        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse" href="#"><span></span></a>
                <!-- ========   change your logo hear   ============ -->
              <h5><span class="badge bg-c-blue">To-Do List</span></h5>
            <a href="#" class="mob-toggler">
                <i class="feather icon-more-vertical"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="#" class="pop-search"></a>
                    <div class="search-bar">
                        <button type="button" class="btn-close" aria-label="Close">
                        </button>
                    </div>
                </li>
            </ul>
        </div>


</header>
<!-- [ Header ] end -->
